body{
    background: rgb(255, 193, 77);
    font-family: 'Open Sans', sans-serif;
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    border: 3px solid rgb(194, 145, 153);
    border-right: none;
    padding: 10px;
    height: 7px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .searchTerm:focus{
    color: rgb(27, 156, 143)
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid  rgb(194, 145, 153);
    background: rgb(194, 145, 153);
    text-align: center;
    color: rgb(255, 227, 190);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .gify-spot {
    width: 300px;
    height: 300px;
    border: 5px solid teal;
    padding: 0 70px 10px 0;
    position: relative;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 650px;
    background: rgb(23, 23, 43)
  }
  #gifs-go-here {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);

  }
  .w3-container {
    background: rgb(44, 153, 142)
  }
  .google {
    font-family: 'Playfair Display', serif;
    color: white
  }
 
 
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
